@import '../../styles/mixins';

.icon-balloon {
    @include floating;
    overflow: visible;
    animation-delay: 0 !important;
    transition: 3s linear;
    cursor: pointer;
    z-index: 100;
    position: absolute;
    top: 40%;
    left: 5%;
    height: auto;
    width: 60px;
    text-align: center;
    &--falling { 
      top: 100vh !important;
      transition: .3s linear;
    }
    > *:last-of-type { margin: -2px }
  
    &__balloon {
      width: 100%;
      height: 100%;
      transition: 0s;
      &--popped { 
        filter: opacity(0);
      }
    }
}