.speech-bubble {
  position: relative;
  transition: .2s ease-in-out;
  z-index: 10;
  display: inline-block;
  border-radius: 5px;
  background-color: white;
  position: absolute;
  width: 80vw;
  bottom: 100px;
  left: -50px;
  padding: 5px;
  &--hidden { filter: opacity(0) }
  &__arrow {
    transition: 0;
    background-color: white;
    z-index: 10;
    height: 10px;
    width: 10px;
    position: relative;
    top: 9px;
    left: 55px;
    transform: rotate(45deg)
  }
  &__button {
    display: block;
    width: 100%;
    margin-top: 10px;
  }
  &__blurb{
    &-message {
      font-size: .8rem;
      font-style: italic;
    }
  }
}