@import './animations';

// ANIMATIONS
@mixin clouds {
  animation-name: moving;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  @content;
}

@mixin rising {
  animation-name: rising;
  animation-duration: 6s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}

@mixin floating {
  animation-name: floating;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  @content;
}

@mixin flyby {
  animation-name: moving;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@mixin getIntoView {
  animation: rising 6s ease-out, floating 5s ease-in-out 6s infinite;
}

@mixin blink {
  animation-name: blink;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@mixin fadeIn {
  animation-name: fadein;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  @content;
}

@mixin move {
  animation-name: move;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
// breakpoints

@mixin tablet {
  @media screen and (min-width: 768px){
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px){
    @content;
  }
}

