@import '../../styles/mixins';
.projects-list {
  // background-image: url('../../assets/images/bg2.jpg');
  background-color: #120a12;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 3%;
  @include tablet {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.carousel-slider {
  * {
    height: 100%;
  }
}