@import '../../styles/variables';
@import '../../styles/mixins';

.landing-page{
  overflow: hidden;
  background-color: $bg-color1;
  color: $font-color1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  &__title{
    @include getIntoView;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: -10%;
    width: 100%;
    height: 200px;
    text-align: center;
    &--name{
      margin: -5px;
    }
  }
  &__subtitle { color: $font-color2 }
  &__bird {
    position: relative;
    top: 0;
    height: auto;
    width: 50px;

    &--left {
      @extend .landing-page__bird;
      top: 95px;
      left: -138px;
      transform: scaleX(-1);
    }
    &--right {
      @extend .landing-page__bird;
      left: 143px;
      top: 55px;
    }
  }
  &__rope {
    position: relative;
    top: 0;
    width: 5px;
    height: 30px;

    &--left {
      @extend .landing-page__rope;
      top: 36px;
      left: -125px;
      transform: rotate(-30deg);
    }
    &--right {
      @extend .landing-page__rope;
      top: 10px;
      left: 130px;
      transform: rotate(30deg);
    }
  }
  @include tablet {
    &__title { &--name { font-size: 4rem } }
    &__subtitle { font-size: 2rem }
    &__rope {
      &--left {
        top: 50px;
        left: -325px;
      }
      &--right {
        top: 20px;
        left: 339px;
      }
    }
    &__bird { 
      width: 75px;
      &--left { 
        top: 140px;
        left: -340px;
      }
      &--right {  
        top: 75px;
        left: 352px;
      }
    }
  }
}